<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Google Visualization API Sample
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualizations() {
        for(var key in graphs) {
          graph = graphs[key]
          drawVisualization(graph.name, graph.statistics)
        }
      }

      function drawVisualization(name,statistics) {

        var data = google.visualization.arrayToDataTable(statistics);
        var ac = new google.visualization.AreaChart(document.getElementById(name));
        ac.draw(data, {
          title : name,
          isStacked: false,
          width: 400,
          height: 300,
          vAxis: {title: "Number of Tests"},
          hAxis: {title: "Date"}
        });
      }
      
      
      $$DATA$$
      google.setOnLoadCallback(drawVisualizations);
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <h1>Tests over time</h1>
    $$HTML$$
  </body>
</html>


